@import '../../styles/colors';

$spacing: 50%;
$border: 2px;
$hover-size: $spacing * 2;
$hover-margin: -50%;

.Button {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-grey;
  color: $white;
  display: block;
  height: 15vh;
  width: 15vh;
  position: relative;
  text-decoration: none;
  border-radius: 50%;
  border: 2px solid $green;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .content {
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron';
    letter-spacing: 1px;
    font-size: 1.1em;

    div {
      margin: 3px 0;
      z-index: 2;
      color: $white;
    }
  }

  .background {
    background-color: $dark-grey;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    width: 0;
    border-radius: 50%;
    transition: background-color 0.3s, height 0.3s, width 0.3s, margin 0.3s;
    z-index: 1;
  }

  &:hover .background {
    height: $hover-size;
    margin-left: $hover-margin;
    margin-top: $hover-margin;
    width: $hover-size;
    background-color: $green;
    z-index: 0;
  }

  &:hover .content div {
    color: $black;
    position: relative;
    z-index: 2;
    transition: color 0.3s;
  }
}

@media (min-width: 1200px) {
  .Button .content > div {
    margin: 5px 0;
  }
  .Button:nth-child(1) {
    margin: -23vh -5% 0 0;
    height: 25vh;
    width: 25vh;
  }

  .Button:nth-child(2) {
    margin-top: 20vh;
    height: 22vh;
    width: 22vh;
  }

  .Button:nth-child(3) {
    margin: -40vh 0 0 -10%;
    height: 25vh;
    width: 25vh;
  }

  .Button:nth-child(4) {
    margin-top: 0;
    margin-left: -4%;
    height: 23vh;
    width: 23vh;
  }
}