@import '../../styles/colors';
@import '../../styles/fonts';

.Menu {
    padding-top: 5vh;
    display: flex;
    justify-content: space-between;
    
    div {
        color: $white;
        font-size: 14px;
        letter-spacing: 1px;
        font-family: 'VarelaRound-Regular';
        display: flex;
        justify-content: space-between;
    }

    .Index {
        margin-right: 15px;
    }
}
