.Arrow {
  margin: 5vh auto 0 auto;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .Arrow {
    margin: 15vh auto 0 auto;
    width: 100px;
    height: 100px;
  }
}