@import '../../styles/colors';

$spacing: 54%;
$hover-size: 108%;
$hover-margin: -54%;

.OrbitButton {
  position: absolute;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  overflow: hidden;
  color: $green;
  font-family: 'VarelaRound-Regular';
  letter-spacing: 1px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;

  .inner {
    background-color: $dark-grey;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    width: 0;
    border-radius: 50%;
    transition: background-color 0.3s, height 0.3s, width 0.3s, margin 0.3s;
    z-index: 1;
  }

  &:hover {
    .text {
      color: $black;
      z-index: 2;
    }

    .inner {
      height: $hover-size;
      margin-left: $hover-margin;
      margin-top: $hover-margin;
      width: $hover-size;
      background-color: $green;
    }
  }
}
