@import '../../styles/colors';
@import '../../styles/fonts';

:root {
  --moon-animation-delay: 2s;
  --eclipse-transformation: translateX(100%) translateY(100%);
  --orbit-speed: 20s;
  --orbit-radius: 17vh;
}

@keyframes innerOrbitA {
  from {
    transform: rotate(200deg) translateX(calc(var(--orbit-radius) * .78));
  }

  to {
    transform: rotate(-160deg) translateX(calc(var(--orbit-radius) * .78));
  }
}

@keyframes innerOrbitB {
  from {
    transform: rotate(20deg) translateX(calc(var(--orbit-radius) * .78));
  }

  to {
    transform: rotate(-340deg) translateX(calc(var(--orbit-radius) * .78));
  }
}

@keyframes middleOrbitA {
  from {
    transform: rotate(-45deg) translateX(calc(var(--orbit-radius) * .89));
  }

  to {
    transform: rotate(315deg) translateX(calc(var(--orbit-radius) * .89));
  }
}

@keyframes middleOrbitB {
  from {
    transform: rotate(-225deg) translateX(calc(var(--orbit-radius) * .89));
  }

  to {
    transform: rotate(135deg) translateX(calc(var(--orbit-radius) * .89));
  }
}


@keyframes outerOrbitA {
  from {
    transform: rotate(240deg) translateX(var(--orbit-radius));
  }

  to {
    transform: rotate(-120deg) translateX(var(--orbit-radius));
  }
}

@keyframes outerOrbitB {
  from {
    transform: rotate(60deg) translateX(var(--orbit-radius));
  }

  to {
    transform: rotate(-300deg) translateX(var(--orbit-radius));
  }
}

@keyframes eclipse {
  from {
    transform: translateX(100%) translateY(100%);
  }

  to {
    transform: translateX(0%) translateY(0%);
  }
}

@keyframes planetEclipse {
  from {
    transform: translateX(100%) translateY(100%);
  }

  to {
    transform: translateX(5%) translateY(5%);
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.hovered {
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $green;
  animation: fillCircle 1s ease;
  color: $black;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
}

@keyframes fillCircle {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes unfillCircle {
  0% {
    width: 100%;
    height: 100%;
  }

  100% {
    width: 0;
    height: 0;
  }
}

.loader {
  margin-top: -10vh;
  position: relative;
  height: calc(var(--orbit-radius) * 2);
  width: calc(var(--orbit-radius) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@media (min-width: 1024px) {
  .loader {
    margin-top: -10vh;
  }
}

.loaderFadeOutAnimation {
  animation: fadeOut 1s linear;
  animation-fill-mode: forwards;
}

.planetAnimation {
  animation: planetEclipse 4s linear;
  animation-fill-mode: forwards;
}

.moonContainer {
  position: absolute;
  height: 2vh;
  width: 2vh;
  border-radius: 50%;
  background-color: $dark-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  overflow: hidden;
}

.moon {
  height: 1vh;
  width: 1vh;
  border-radius: 50%;
  background-color: white;
  z-index: 1;
}

.moonEclipse {
  display: block;
  content: "";
  width: 1vh;
  height: 1vh;
  background-color: white;
  position: absolute;
  border-radius: 50%;
}

.moonAnimation {
  animation: eclipse 3s linear;
  transform: var(--eclipse-transformation);
  animation-fill-mode: forwards;
  background-color: black;
}

.innerMoonA {
  animation: innerOrbitA var(--orbit-speed) infinite linear;
  transition-property: all;
}

.innerMoonB {
  animation: innerOrbitB var(--orbit-speed) infinite linear;
  transition-property: all;
}


.middleMoonA {
  animation: middleOrbitA var(--orbit-speed) infinite linear;
  transition-property: all;
}

.middleMoonB {
  animation: middleOrbitB var(--orbit-speed) infinite linear;
  transition-property: all;
}

.outerMoonA {
  animation: outerOrbitA calc(var(--orbit-speed) * 1.5) infinite linear;
  transition-property: all;
}

.outerMoonB {
  animation: outerOrbitB calc(var(--orbit-speed) * 1.5) infinite linear;
  transition-property: all;
}

.ring {
  position: absolute;
  display: flex;
  border-radius: 50%;
  outline: 1px solid white;

  &.inner {
    z-index: 3;
    height: 78%;
    width: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.middle {
    height: 89%;
    width: 89%;
  }

  &.outer {
    height: 100%;
    width: 100%;
  }
}
