@import '../../styles/colors';

$spacing: 50%;
$hover-size: 100%;
$hover-margin: -50%;

.OrbitButton {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-grey;
  color: $dark-grey;
  display: block;
  height: $spacing * 2;
  position: relative;
  text-decoration: none;
  width: $spacing * 2;
  border-radius: 50%;
  cursor: pointer;

  .inner {
    background-color: $dark-grey;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    width: 0;
    border-radius: 50%;
    transition: background-color 0.3s, height 0.3s, width 0.3s, margin 0.3s;
    z-index: 1;
  }


  &:hover {
    .text {
      color: $black;
      z-index: 2;
    }

    .inner {
      height: $hover-size;
      margin-left: $hover-margin;
      margin-top: $hover-margin;
      width: $hover-size;
      background-color: $green;
    }
  }
}
