@import '../../styles/colors';
@import '../../styles/fonts';

.Hello, .Title {
  font-family: 'Orbitron-Bold';
  letter-spacing: 2px;

  span:nth-child(1), span:nth-child(3) {
    color: $light-grey;
  }

  span:nth-child(2) {
    color: $green;
  }
}

.Hello {
  height: 10%;
}

.Name {
  height: 90%;
  width: 400px;
}

.InvisibleName {
  height: 100px;
  width: 1px;
}

.Name {
  margin: 4vh 2vw;
  font-family: 'Orbitron-Bold';
  letter-spacing: 2px;

  div:nth-child(1), div:nth-child(4) {
    color: $light-grey;
  }
  div:nth-child(2), div:nth-child(3) {
    margin-left: 2vw;
    width: 350px;
    font-size: 3em;
    color: $white;
  }
}

@media (max-width: 1200px) {
  .Hello, .Title {
    font-size: 1em;
  }

  .Name > div:nth-child(2) {
    font-size: 2.8em;
  }
}