@import './styles/colors';
@import '../node_modules/normalize.css/normalize.css';
@import './styles/breakpoints';

.App {
  background-color: $grey;
  height: 191vh;
  padding: 5vh 6vw;
}

.Main {
  height: 100%;
  width: 100%;
  padding: 0 8vw;
  box-sizing: border-box;
  background-color: $dark-grey;
}

.GreetingContainer {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 13vw;

  .Greeting {
    margin: auto;
  }
}

.content {
  height: 71vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 1vh;
}

.Contact {
  padding-top: 3vh;
  width: 100%;
  text-align: center;

  .TitleContainer {
    margin: 5vh 0 3vh 0;
    display: flex;
    justify-content: center;
    font-family: 'Orbitron-Bold';
    letter-spacing: 1px;

    .Tag {
      display: none;
    }
  }

  .Title {
    text-align: center;
    font-size: 3em;
    color: $white;
  }

  .Tag {
    color: $light-grey;

    &:nth-of-type(1) {
      margin: -20px -24px 0 0;
    }

    &:nth-of-type(3) {
      margin: 57px 0 0 -16px;
    }
  }

  .ButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
  }
}

@media (min-width: 1200px) {
  .App {
    height: 188vh;
  }

  .main {
    padding: 4vh 10vw;
  }

  .content {
    height: 64vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .GreetingContainer {
    display: block;
    width: 50%;
    height: 229px;
    margin-left: 0;

    .Greeting {
      margin: 0;
    }
  }

  .Contact {
    padding-top: 14vh;

    .ButtonContainer {

      flex-direction: row;
      width: 90%;
      margin: auto;
      flex-shrink: 0;
    }

    .TitleContainer .Tag {
      display: block;
    }
  }
}