@import './styles/colors';
@import '../node_modules/normalize.css/normalize.css';
@import './styles/breakpoints';

.App {
  background-color: $grey;
  height: 200vh;
  padding: 5vh 6vw;
}

.Main {
  height: 100%;
  width: 100%;
  padding: 0 8vw;
  box-sizing: border-box;
  background-color: $dark-grey;
}

.GreetingContainer {
  display: flex;
  justify-content: center;
  width: 100%;

  .Greeting {
    margin-left: 14vw;
  }
}

.content {
  height: 71vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 1vh;
}

.Contact {
  padding-top: 2vh;
  height: 100vh;
  width: 100%;
  text-align: center;

  .TitleContainer {
    margin: 5vh 0;
    display: flex;
    justify-content: center;
    font-family: 'Orbitron-Bold';
    letter-spacing: 1px;

    .Tag {
      display: none;
    }
  }

  .Title {
    text-align: center;
    font-size: 3em;
    color: $white;
  }

  .Tag {
    color: $light-grey;

    &:nth-of-type(1) {
      margin: -20px -24px 0 0;
    }

    &:nth-of-type(3) {
      margin: 57px 0 0 -16px;
    }
  }

  .ButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
  }
}

@media (min-width: 1200px) {
  .main {
    padding: 4vh 10vw;
  }

  .content {
    height: 71vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .GreetingContainer {
    width: 50%;
    height: auto;

    .Greeting {
      margin: 0;
    }
  }

  .Contact {
    padding-top: 10vh;

    .ButtonContainer {

    flex-direction: row;
    width: 90%;
    margin: auto;
    flex-shrink: 0;
    }

    .TitleContainer .Tag {
        padding-top: 10vh; 
    }
  }
}
