@import './styles/colors';
@import '../node_modules/normalize.css/normalize.css';
@import './styles/breakpoints';

.App {
  background-color: $grey;
  height: 200vh;
  padding: 5vh 6vw;
}

.Main {
  height: 100%;
  width: 100%;
  padding: 0 8vw;
  box-sizing: border-box;
  background-color: $dark-grey;
}

.GreetingContainer {
  display: flex;
  justify-content: center;
  width: 100%;

  .Greeting {
    margin-left: 14vw;
  }
}

.content {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.Contact {
  height: 100vh;
  width: 100%;

  .Title {
    margin: 5vh 0;
    text-align: center;
    font-family: 'Orbitron-Bold';
    font-size: 3em;
    color: $white;
  }

  .ButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70vh;

    // .div:nth-of-type(even) {
    //   margin-left: 10px;
    // }
  }
}

@media (min-width: 1024px) {
  .main {
    padding: 4vh 10vw;
  }
  .content {
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .GreetingContainer {
    margin-top: -10vh;
    width: 50%;
    height: auto;

    .Greeting {
      margin: 0;
    }
  }

  .Contact .ButtonContainer {
    flex-direction: row;
    width: 90%;
    margin: auto;
    flex-shrink: 0;
  }
}
